#nav {
    display: flex;
    justify-content: space-between;
}

.nav-position {
    display: flex;
    justify-content: space-evenly;
    color: #4B4B4B;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 11px;
}

.nav-position > p:hover {
    text-decoration: underline;
    cursor: pointer;
}

#left {
    width: 120px;
}

#right {
    width: 200px;
}

#right img {
    border-radius: 50%;
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

abbr {
    cursor: pointer;
    text-decoration: none;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    align-items: center;
  justify-content: center

}




#search {
    border-radius: 20px;
    padding: 10px 150px;
    border-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px gray;
    
}
 


.button{
    color: rgb(71, 71, 71);
    border-color: white;
    border-radius: 3px;
    height: 50px;
    width: 150px;
}
#footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: lightgray; 
    position: absolute;
    bottom:0;
    width: 100%;

   }

#left-2 {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

#right-2 {
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.bottom {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: gray;
}

.bottom > p:hover {
    text-decoration: underline;
    cursor: pointer;
}    
 



